name: "Unit and E2E Testing"

on: [push, pull_request]

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: npm ci
    
    - run: npm test

  e2e:
    runs-on: ubuntu-latest
    name: test the action by using it
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Install copywrite
        id: install
        uses: hashicorp/setup-copywrite@main

      - name: Print installed copywrite version
        run: echo "Installed copywrite ${{steps.install.outputs.version}}"
        
      - name: Run `copywrite version`
        run: copywrite --version
